# Ignore Gradle cache files & directories
bin/
build/
## Eclipse
eclipse/
.classpath
.gradle/
.project
.settings/
## Idea
.idea
/*.iml
/*.ipr
/*.iws

# Ignore OS cache files & directories
*.DS_Store
_MACOSX
Thumbs.db
