gnore Gradle cache files & directories
bin/
build/

## Exclusive to IronChests
repo/
run/

## Forge
forge-*.txt

## Eclipse
eclipse/
.classpath
.gradle/
.project
.settings/

## Idea
.idea
/*.iml
/*.ipr
/*.iws

# Ignore OS cache files & directories
*.DS_Store
_MACOSX
Thumbs.db
